<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>HelloUser</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>wangjiawei.HelloServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/helloUser</url-pattern>
  </servlet-mapping>
  
  
  <filter>
    <filter-name>myFilter</filter-name>
    <filter-class>wangjiawei.IPFilter</filter-class>
    <init-param>
      <param-name>filterIP</param-name>
      <param-value>192.168.1.100</param-value>
    </init-param>
  </filter>
  
  <filter-mapping>
    <filter-name>myFilter</filter-name>
    <url-pattern>/helloUser</url-pattern>
    <url-pattern>/welcome/*</url-pattern>
    <servlet-name>HelloServlet</servlet-name>
  </filter-mapping>
  
</web-app>